name: Rebuild "Help Wanted" RSS feed

on:
  schedule:
    - cron:  '0/15 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
        
    env:
      TOKEN: ${{ secrets.TOKEN }}      

    steps:
    
    - uses: actions/checkout@v1
    - name: execution permissions
      run: chmod 755 ./build.sh
    - name: Rebuild RSS XML
      run: ./build.sh
