name: Rebuild "Help Wanted" RSS feed

#on: [push]

on:
  schedule:
    - cron:  '0 0,8,16 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
        
    env:
      TOKEN: ${{ secrets.TOKEN }}      

    steps:
    
    - uses: actions/checkout@v1
    - name: execution permissions
      run: chmod 755 ./v3-feed.sh
    - name: Rebuild RSS XML
      run: ./v3-feed.sh
